.paddtop{
  padding-top:20%;
}

#cardWrapper{
min-height:400px;
max-width:800px;
padding:30px;
}

#row1{
height: 100%;
}

#img{
max-height:300px;
}
#infoCol{
  font-size: medium;
}
