<div class="container">
  <div class="row center">
    <div *ngFor="let book of books" class="col s12 m3" id="book">
      <div class="card sticky-action">
        <div class="card-image waves-effect waves-block waves-light" id="bookImg">
          <img class="activator" src="{{book.img_url}}">
        </div>
        <div class="card-content" id="bookTitle">
          <span class="card-title activator grey-text text-darken-4">{{book.book_title}}</span>
          <p>ISBN: {{book.isbn}}</p>
        </div>
        <div class="card-action">
          <a [routerLink]="['/detail', book.isbn]"class="cyan-text">Vedi Dettagli</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
  </div>
</div>
