
<div class="container">
    <div class="row" style="height:10vh">
    </div>
    <div class="row center" style="height:20vh">
      <h1 class="thin shadowed">Unisciti a Noi</h1>
      <h5 class="condensed light">Registrati per iniziare a vendere i tuoi libri</h5>
    </div>
    <div class="row center" style="min-height:40vh; margin-bottom:0px;">
      <div class="card white col s6 offset-s3 text-cyan" style="padding:30px">

        <form class="col s12 m8 offset-m2 l6 offset-l3" (ngSubmit)="onSubmit()" #signupForm="ngForm">

          <div class="row">
            <div class="input-field col s12">
              <input id="email1" type="email" class="validate"
              [(ngModel)]="model.email" name="email" #email="ngModel" required
              pattern="[^ @]*@[^ @]*" />
              <label for="email1" data-error="Email non valida">Email</label>
            </div>
          </div>

          <!--<div class="row">
            <div class="input-field col s12">
              <label for="email2" data-error="Email non valida">Conferma Email</label>
              <input id="email2" type="email" name="email2" #email2 required />
            </div>
          </div>-->

          <div class="row">
            <div class="input-field col s12">
              <label for="password1">Password</label>
              <input id="password1" type="password" class="validate"
              [(ngModel)]="model.password" name="password1" #password1="ngModel" required />
            </div>
          </div>

          <!--<div class="row">
            <div class="input-field col s12">
              <label for="password2">Conferma Password</label>
              <input id="password2" type="password" name="password2" required />
            </div>
          </div>-->

          <div class="row">
            <button class="btn cyan lighten-1 waves-effect waves-light col s12"
            [disabled]="!signupForm.form.valid"
            type="submit" name="action">Submit<i class="material-icons right">send</i>
            </button>
          </div>
        </form>

      </div>
    </div>
</div>
<!--
[class.valid]= "ngModel.email2===ng.Model.email1"-->
